*.vsidx
/Water/.vs/
/Water/WaterWeb_Server/bin/Debug/
/Water/WaterWeb_Server/obj/Debug/
/Water/.vs/ProjectEvaluation/water.strings.v8.bin
/Water/.vs/ProjectEvaluation/water.projects.v8.bin
/Water/.vs/ProjectEvaluation/water.metadata.v8.bin
/Water/.vs/Water/DesignTimeBuild/.dtbcache.v2
/Water/.vs/Water/v17/.futdcache.v2
/Water/WaterWeb_Client/obj/Debug/net6.0/WaterWeb_Client.AssemblyInfo.cs
/Water/WaterWeb_Client/obj/Debug/net6.0/WaterWeb_Client.AssemblyInfoInputs.cache
/Water/WaterWeb_Client/obj/Debug/net6.0/WaterWeb_Client.assets.cache
/Water/WaterWeb_Client/obj/project.assets.json
/Water/WaterWeb_Client/obj/project.nuget.cache
/Water/WaterWeb_Client/obj/WaterWeb_Client.csproj.nuget.dgspec.json
/Water/WaterWeb_Client/obj/WaterWeb_Client.csproj.nuget.g.props
/Water/WaterWeb_Client/obj/WaterWeb_Client.csproj.nuget.g.targets
/Water/WaterWeb_Server/obj/project.assets.json
/Water/WaterWeb_Server/obj/project.nuget.cache
/Water/WaterWeb_Server/obj/WaterWeb_Server.csproj.nuget.dgspec.json
/Water/WaterWeb_Server/obj/WaterWeb_Server.csproj.nuget.g.props
/Water/Water_Models/bin/Debug/net6.0/Water_Models.dll
/Water/Water_Models/bin/Debug/net6.0/Water_Models.pdb
/Water/Water_Models/obj/Debug/net6.0/ref/Water_Models.dll
/Water/Water_Models/obj/Debug/net6.0/refint/Water_Models.dll
